.blogs-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

    .single-blog {
        border: 1px solid gray;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 400px;
        text-align: justify !important;

        .title {
            padding: 10px 0;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        .content {}
    }
}

.blog-detail {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    min-height: 100px;

    .content {
        padding-top: 10px;
    }
}

.btn-add-new {
    margin: 10px 0;
    cursor: pointer;
}

.add-new-container {
    max-width: 400px;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 5px;
    text-align: left;

    .title-add-new {
        margin: 10px 0;
        text-align: center;
    }

    .inputs-data {
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    button {
        margin-left: 10px;
    }
}